asgiref==3.6.0
backports.zoneinfo==0.2.1
config==0.5.1
decouple==0.0.7
dj-database-url==1.2.0
dj-email-url==1.0.6
Django==4.1.5
django-cache-url==3.4.4
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-environ==0.10.0
django-js-asset==2.0.0
environs==9.5.0
marshmallow==3.19.0
packaging==23.0
Pillow==9.4.0
python-decouple==3.8
python-dotenv==0.21.1
sqlparse==0.4.3
whitenoise==6.3.0
