{% extends 'base.html' %}
<!--{% load crispy_forms_tags %}-->
{% block title %} Dars jadvali {% endblock title %}

{% block content %}
  <div class="wrap can-change-font">
     <div class="header-banner">
        <div class="page-title-wrapper">
            <div class="banner-wrapper container">
                <div class="header-title"><h1>Bakalavriat</h1></div>
                <nav aria-label="breadcrumb"><ol id="w0" class="breadcrumb"><li class="breadcrumb-item"><a href="/">Asosiy</a></li>
<li class="breadcrumb-item active" aria-current="page">Dars jadvali</li>
</ol></nav>            </div>
        </div>
    </div>
    <div class="container main-container">
        <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
<script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v14.0&amp;appId=399480630744755&amp;autoLogAppEvents=1" nonce="DWmN075f"></script>

<div class="main-content">
    <div class="row">
        <div class="col-12"></div>
        <div class="col-lg-8 col-12">
            <div class="div-article editable-font" id="div-article" data-font="18">
                <article>
                    <header class="article-header">
                                                <h1 class="article-title editable-font " data-font="30">Dars jadvali</h1>
                                            </header>
                    <div class="article-text" id="article-text">



<!--?xml encoding="utf-8" ?--><p style="text-align: center;" rel="text-align: center;"><strong>DAVOLASH FAKULTETI</strong>
</p><table>
<tbody>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="{% url 'jadval_list' %}">1-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a66ce5281.pdf">2-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a68482841.pdf">3-kurs</a><br></strong>
		</p>
	</td>
</tr>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7416b1fb.pdf">4-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a74a28319.pdf">5-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7532685e.pdf">6-kurs</a><br></strong>
		</p>
	</td>
</tr>
</tbody>
</table><hr><p style="text-align: center;"><strong>PEDIATRIYA FAKULTETI</strong>
</p><table>
<tbody>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf">1-kurs</a></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a66ce5281.pdf">2-kurs</a></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a68482841.pdf">3-kurs</a><br></strong>
		</p>
	</td>
</tr>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a77c3f849.pdf">4-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7853ee8d.pdf">5-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a78e97f17.pdf">6-kurs</a><br></strong>
		</p>
	</td>
</tr>
</tbody>
</table><hr><p style="text-align: center;"><strong>TIBBIY-PEDAGOGIKA FAKULTETI</strong>
</p><table><tbody><tr><td style="text-align: center;"><p style="text-align: center;"><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf"><strong>1-kurs</strong>
			</a>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a66ce5281.pdf">2-kurs</a></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a68482841.pdf">3-kurs</a><br></strong>
		</p></td></tr><tr><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a799d48a5.pdf">4-kurs</a><br></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7a4e27a2.pdf">5-kurs</a><br></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7aca4359.pdf">6-kurs</a><br></strong>
		</p></td></tr></tbody></table><hr><p style="text-align: center;"><strong>STOMATOLOGIYA FAKULTETI</strong>
</p><table><tbody><tr><td style="text-align: center;"><p style="text-align: center;"><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf"><strong>1-kurs</strong>
			</a>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a66ce5281.pdf">2-kurs</a></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a68482841.pdf">3-kurs</a><br></strong>
		</p></td></tr><tr><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7bebdb9b.pdf">4-kurs</a><br></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7c7e9700.pdf">5-kurs</a><br></strong>
		</p></td><td style="text-align: center;"></td></tr></tbody></table><hr><p style="text-align: center;"><strong>OLIY HAMSHIRALIK ISHI FAKULTETI</strong>
</p><table>
<tbody>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf"><strong></strong></a><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf">1-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a874bf63e.pdf">3-kurs</a><br></strong>
		</p>
	</td>
</tr>
</tbody>
</table><hr><p style="text-align: center;"><strong>TIBBIY-BIOLOGIK FAKULTET</strong>
</p><table><tbody><tr><td style="text-align: center;"><p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf">1-kurs</a></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a66ce5281.pdf">2-kurs</a></strong>
		</p></td></tr><tr><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong>3-kurs<br></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a7f241d4c.pdf">4-kurs</a><br></strong>
		</p></td></tr></tbody></table><hr><p style="text-align: center;"><strong>FARMATSIYA FAKULTETI</strong>
</p><table>
<tbody>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf"><strong></strong><strong>1-kurs</strong>
			</a>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a66ce5281.pdf">2-kurs</a></strong>
		</p>
	</td>
	<td style="text-align: center;"><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a68482841.pdf"><strong>3-kurs</strong></a>
	</td>
</tr>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a824b7b7d.pdf">4-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a83a3cfbd.pdf">5-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
	</td>
</tr>
</tbody>
</table><hr><p style="text-align: center;"><strong>TIBBIY-PROFILAKTIKA FAKULTETI</strong>
</p><table><tbody><tr><td style="text-align: center;" rel="text-align: center;"><p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf">1-kurs</a></strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4e0cb3f7.pdf">
			</a>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a66ce5281.pdf">2-kurs</a></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a68482841.pdf">3-kurs</a><br></strong>
		</p></td></tr><tr><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a80891ffd.pdf">4-kurs</a><br></strong>
		</p></td><td style="text-align: center;"><p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a810b7352.pdf">5-kurs</a><br></strong>
		</p></td><td style="text-align: center;"></td></tr></tbody></table><hr><p style="text-align: center;"><strong>CHET EL TALABALARI FAKULTETI</strong>
</p><hr><table>
<tbody>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a3bca8367.pdf">1-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a3ca6b163.pdf">2-kurs</a><br></strong>
		</p>
	</td>
</tr>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong>3-kurs<br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong></strong><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4210fc87.pdf">4-kurs</a><br></strong>
		</p>
	</td>
</tr>
<tr>
	<td style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a45d569ed.pdf">5-kurs</a></strong>
	</td>
	<td style="text-align: center;">
	</td>
</tr>
</tbody>
</table><p style="text-align: center;"><strong>QO'SHMA TA'LIM DASTURLARI TALABALARI UCHUN</strong>
</p><hr><table>
<tbody>
<tr>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a48477028.pdf">1-kurs</a><br></strong>
		</p>
	</td>
	<td style="text-align: center;">
		<p style="text-align: center;"><strong><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a49205ba0.pdf">2-kurs</a><br></strong>
		</p>
	</td>
</tr>
<tr>
	<td style="text-align: center;"><a href="https://www.sammu.uz/frontend/web/upload/content-files/6330a4a61b05d.pdf"><strong>3-kurs</strong></a><br>
	</td>
	<td style="text-align: center;">
	</td>
</tr>
</tbody>
</table>

                    </div>
                </article>
                <!-- <div class="div-content-siblings" style="display: flex">
                   <a href=""><i class="fas fa-arrow-alt-circle-left fa-2x" aria-hidden="true"></i></a>
                   <a href="" class="disabled" style="margin-left:auto"><i class="fas fa-arrow-alt-circle-right fa-2x" aria-hidden="true"></i></a>
                </div> -->
            </div>
                    </div>
        <div class="col-lg-4 col-12">
            <div class="div-article-sidebar" id="article-sidebar">
                                <div class="inner-sidebar">
                    <h4 class="article-sidebar-title">Bakalavriat</h4>

                    <a href="/uz/pages/instruction" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  Yo'riqnoma</a>

                    <a href="/uz/pages/schedule_sec_bachelor" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  YaDA o'tkazish jadvali</a>

                    <a href="/uz/pages/class_schedule" class="article-sidebar-item main-sidebar-item article-sidebar-item-active"><i class="fas fa-angle-double-right"></i>  Dars jadvali</a>

                    <a href="/uz/pages/learning" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  O'zlashtirish</a>

                    <a href="https://mt.sammu.uz/course/index.php?categoryid=2492" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  Davomat</a>

                    <a href="/uz/pages/catalogue_sciences" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  Fanlar katalogi</a>

                    <a href="/uz/pages/talented_students" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  Iqtidorli talabalar</a>

                    <a href="/uz/pages/same_scholarships" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  Stipendiyalar</a>

                    <a href="/uz/pages/life_students" class="article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i>  Talabalar turar joyi</a>
                                    </div>
                                                <div class="inner-sidebar">
                    <h4 class="article-sidebar-title">So'nggi yangiliklar</h4>
                                        <a class="article-sidebar-news-item " href="/uz/news/2559101"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 12.03.2023</span><br>​SamDTUda isroillik professorni sunʼiy intellektdan tibbiyotda foydalanish boʻyicha mahorat darsi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2559061"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 10.03.2023</span><br>Butunjahon iste’molchilar kuniga bag‘ishlangan uchrashuv bo‘lib o‘tdi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2559049"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 09.03.2023</span><br>​Samarqand davlat tibbiyot universiteti va Boltiq federal universiteti Bioinjeneriya sohasida hamkorlikni kuchaytirmoqda</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2559032"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 07.03.2023</span><br>​Saxovat uyida bayram uchrashuvi oʻtkazildi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2559022"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 07.03.2023</span><br>​Ayol — sadoqat kuchi!</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2559007"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 07.03.2023</span><br>​“8-mart — Xalqaro xotin-qizlar kuni” munosabati bilan tantanali uchrashuv oʻtkazildi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2558987"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 06.03.2023</span><br>​Urgut kasb-hunar maktabida davra suhbati oʻtkazildi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2558975"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 03.03.2023</span><br>​“8-mart — Xalqaro xotin-qizlar kuni”ga bagʻishlab sport musobaqalari oʻtkazildi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2558948"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 02.03.2023</span><br>​Xorijlik talabalar uchun shoshilinch tez tibbiy yordam boʻyicha amaliy mahorat darslari oʻtkazildi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2558922"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 01.03.2023</span><br>​SamDTUda xorijiy professorlarni mahorat darslari oʻtkazildi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2558890"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 28.02.2023</span><br>​Samarqand davlat tibbiyot universitetini Litva oliygohi bilan hamkorligi oʻrnatildi</a>
                                        <a class="article-sidebar-news-item " href="/uz/news/2558906"><span class="article-sidebar-news-item-date"><i class="fa fa-calendar-alt"></i> 28.02.2023</span><br>Universitet fakultetlarini “Dekan kubogi” sport oʻyinlari boʻlib oʻtdi</a>
                                    </div>

            </div>
        </div>
    </div>
</div>

    </div>

</div>

{% endblock content %}





