{% extends 'base.html' %}
{% load static %}
{% block title %} Postlar {% endblock title %}

{% block content %}



<div class="jumbotron">
            <h4 class="display-6">Samarqand davlat tibbiyot universiteti</h4>
      </div>
       <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {% if object.photo %}
                        <img  class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
                    {% endif %}
                    <p class="card-text">{{ object.body | safe }}</p>

                </div>
                <div class="card-body">
                    <a href="{% url 'jadval_list' %}">Dars jadvallari</a>
                </div>
                <div class="card-body">
                    <a href="{% url 'jadval' %}">Fakultetlar dars jadvali</a>
                </div>
            </div>

        </div>
       <div class="card-columns">
    {% for article in object_list %}
        <div class="card" style="...">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}"><h2>{{ article.title }}</h2></a> </span>
            </div>
            {% if article.photo %}
                <img class="card-img-top" src="{{ article.photo.url }}"  alt="{{ article.title }}">
            {% endif %}
            <div class="card-body">

                {{ article.summary }} ... <a href="{% url 'article_detail' article.pk %}">batafsil</a>
            </div>
            <hr>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">Muallif:  {{ article.author | title}} | {{ article.date }}</span>
            </div>
  </div>


    {% endfor %}
</div>


{% endblock content %}