{% extends 'base.html' %}
{% load static %}
{% block title %} Postlar {% endblock title %}

{% block content %}


<div class="header-banner">
        <div class="page-title-wrapper">
            <div class="banner-wrapper container">
                <div class="header-title"><h1>Bakalavriat</h1></div>
                <nav aria-label="breadcrumb"><ol id="w0" class="breadcrumb"><li class="breadcrumb-item"><a href="/">Asosiy</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Yangiliklar</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
<div class="wrapper container">
<div class="card-columns">
    {% for article in object_list %}
        <div class="card" style="...">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}"><h2>{{ article.title }}</h2></a> </span>
            </div>
            {% if article.photo %}
                <img class="card-img-top" src="{{ article.photo.url }}"  alt="{{ article.title }}">
            {% endif %}
            <div class="card-body">

                {{ article.summary }} ... <a href="{% url 'article_detail' article.pk %}">batafsil</a>
            </div>
            <hr>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">Muallif:  {{ article.author | title}} | {{ article.date }}</span>
            </div>
  </div>


    {% endfor %}
</div>
</div>


{% endblock content %}