
{% load static %}
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>

{% endblock %}
<!DOCTYPE html>
<html lang="uz">
<head>

<meta charset="utf-8">
<meta name="google-site-verification" content="W9jnwdlxJvLOhQKOUvvZid0dyLMYI1V_ZmzGezv5s2o" />
<meta name="yandex-verification" content="8601c23073f1c3c6" />
<meta name="yandex-verification" content="eb363339573bf7ea" />
<meta name="yandex-verification" content="fc95fe2a4103f14e" />
<meta name="zen-verification" content="Bdm75hIlwTlpMV79TX4Ld9C3Dle1HhIKMGLCs10RJ85fVbP0EzQoD9NKsoFon7H1" />
<meta name="wot-verification" content="1205147099705fd78fae"/>
<meta name="p:domain_verify" content="8a6489b60804f18bb6afd35fed11e5b2"/>
<meta name="p:domain_verify" content="c50c4f74644e74e27658828b391ce9cd"/>
<meta name="ahrefs-site-verification" content="031e7daa301e69230abe3c52efefcc5de2afb478549ec762243dda836a8b4360">
<meta name="facebook-domain-verification" content="k7jn719r6lgx874bn8pk3ukxvvv2ky" />
<meta name="facebook-domain-verification" content="fh43i9ed0fp316zhemnxzrs41pynib" />
<meta name="wmail-verification" content='75ecf9f9171fef4fe4ff3c90054bfa78' />
<meta name='wmail-verification' content='104925dd9ea3c8d51036cf47aee054c3' />

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="SamMU Education">

<meta name="telegram:channel" content="@sammu_education"/>
<meta name="msvalidate.01" content="3596C07149C6FE4D1B1099E64D8C6279" />

<meta name="keywords" content="sammu, tibbiyot, Samarqand, medical" />

<meta property="fb:pages" content="105514010852209" />

<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="627"/>

<meta name="twitter:domain" content="sammu.uz">
<meta name="twitter:site" content="@sammu_education"/>

<meta property="fb:app_id" content="399480630744755"/>

<link href="https://twitter.com/sammu_education" rel="me">

<link rel="icon" href="https://www.sammu.uz/favicon.svg?v=2025" type="image/x-icon">


<title>Samarqand davlat tibbiyot universiteti</title>

<meta name="og:url" content="https://www.sammu.uz/uz">
<meta name="og:title" content="Samarqand davlat tibbiyot universiteti">
<meta name="og:description" content="Markaziy Osiyodagi eng qadimgi tibbiyot universiteti bo&#039;lib, yuqori malakali tibbiyot kadrlarini sifatli tayyorlashini ta&#039;minlaydi.">
<meta name="title" content="Samarqand davlat tibbiyot universiteti">
<meta name="description" content="Markaziy Osiyodagi eng qadimgi tibbiyot universiteti bo&#039;lib, yuqori malakali tibbiyot kadrlarini sifatli tayyorlashini ta&#039;minlaydi.">
<meta name="og:image" content="https://www.sammu.uz/images/default-image.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://www.sammu.uz/images/default-image.jpg">
<meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="Zr0NNhCzdOrdnNT0CRapP79VetrqZxn2MkOpZu8PKj0W52ZkU95CjYuqk7pnc5x3yhBD96YzLaBVJ5sQjFpZbA==">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-tabs-x-bs4.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
<link href="{% static 'css/kv-widgets.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/all.css' %}" rel="stylesheet">
<link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
<link href="{% static 'css/nav-core.min.css' %}" rel="stylesheet">
<link href="{% static 'css/nav-layout.min.css' %}" rel="stylesheet">
<link href="{% static 'css/lightgallery.min.css' %}" rel="stylesheet">
<link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/site.css' %}" rel="stylesheet">



    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'js/code.js' %}"></script>

<style>@media print{.tab-content.printable > .tab-pane{display:block;opacity:1;}}</style>


<script src="{% static  'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static  'js/popper-1.16.0.min.js' %}"></script>
<script src="{% static  'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/lazyload.js' %}"></script>
<script src="{% static  'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static  'js/nav.jquery.min.js' %}"></script>
<script src="{% static 'js/rem.min.js' %}"></script>
<script src="{% static  'js/tiny-slider.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static  'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/mousetrap.js' %}"></script>
<script src="{% static 'js/cookie.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/specialview.js' %}"></script>
<script src="{% static 'js/lightgallery-all.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<script src="{% static 'js/sanitizer.js' %}"></script>
<script src="{% static 'js/min.js' %}"></script>
<script src="{% static 'js/scrollbar.js' %}"></script>
<script src="{% static 'js/selector-engine.js' %}"></script>
<script src="{% static 'js/backdrop.js' %}"></script>
<script src="{% static 'js/data.js' %}"></script>
<script src="{% static 'js/event-handler.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/index.umd.js' %}"></script>
<script src="{% static 'js/manipulator.js' %}"></script>
<script src="{% static 'js/top100.js' %}"></script>
<script src="{% static 'js/usability.js' %}"></script>
<script src="{% static 'js/id=G-MVVHJC7HH9.js' %}"></script>
<script>window.tabsX_00000000 = {};
</script>

<!-- New GA 4 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MVVHJC7HH9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MVVHJC7HH9');
</script>

<!-- Rating Mail.ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "3256811", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = "https://top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
</script>
    <noscript>
    <div>
        <img src="https://top-fwz1.mail.ru/counter?id=3256811;js=na" style="border:0;position:absolute;left:-9999px;" alt="Top.Mail.Ru" />
    </div>
    </noscript>
<script>
    (function (w, d, c) {
    (w[c] = w[c] || []).push(function() {
        var options = {
            project: 7690578,
        };
        try {
            w.top100Counter = new top100(options);
        } catch(e) { }
    });
    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src =
    (d.location.protocol == "https:" ? "https:" : "http:") +
    "//st.top100.ru/top100/top100.js";

    if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(window, document, "_top100q");
</script>
<noscript>
  <img src="//counter.rambler.ru/top100.cnt?pid=7690578" alt="Топ-100" />
</noscript>
</head>
<body>


        <!-- loader -->
        <!-- End -->
<div class="holder" id = "pre-loader">
        <div class="heartbeatloader">
            <svg class="svgdraw repeat" width="100%" height="100%" viewBox="0 0 150 400" xmlns="http://www.w3.org/2000/svg">
                    <path class="path" d="M 0 200 l 40 0 l 5 -40 l 5 40 l 10 0 l 5 15 l 10 -140 l 10 220 l 5 -95 l 10 0 l 5 20 l 5 -20 l 30 0" fill="transparent" stroke-width="4" stroke="black"/>
            </svg>
        <div class="innercircle"></div>
        <div class="outercircle"></div>
       <!--  <img class="preloader-logo" src = "https://www.sammu.uz/images/logo-128.png?v=1.1.2"> -->
       <img class="preloader-logo" src = "{% static 'img/logo-lg.png' %}">
    </div>
</div>
<div id="search-form" class="overlay">
  <span class="closebtn" id = 'close-search-btn' title="Formani yopish">×</span>
  <div class="overlay-content">
    <form action="/uz/search">
      <input type="text" placeholder="Qidirish..." name="q" class = 'search-input'>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>




<div class="mob-menu is-fixed hidden-f-menu">
    <ul class="mob-menu__list">
        <li class="list-item active" style="list-style: none;">
            <a class="list-link" href="/uz">
                <img src="/static/img/home-button.svg" alt=""><span class="link-txt">Bosh sahifa</span>
            </a>
        </li>
        <li class="list-item " style="list-style: none;">
            <a class="list-link" href="/uz/news">
                <img src="/static/img/latest-news.svg" alt=""><span class="link-txt">Yangiliklar</span>
            </a>
        </li>
        <li class="list-item " style="list-style: none;">
            <a class="list-link" href="/uz/photogallery">
                <img src="/static/img/photo-gallery.svg" alt=""><span class="link-txt">Fotogalereya</span>
            </a>
        </li>
        <li class="list-item " style="list-style: none;">
            <a class="list-link" href="/uz/videogallery" href="/uz/videogallery">
                <img src="/static/img/social-media.ce125784.svg" alt=""><span class="link-txt">Videogalereya</span>
            </a>
        </li>
    </ul>
</div>

<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="footer-card">
                    <h2 class="footer-title">Ijtimoiy tarmoqlar</h2>
                    <ul class="footer-links">
                        <li>
                            <a data-turbo="true" href="https://t.me/sammu_education"><i class="fab fa-telegram footer-icons" ></i> Telegram</a>
                        </li>
                        <li>
                            <a data-turbo="true" href="https://www.facebook.com/sammu.education"><i class="fab fa-facebook-f footer-icons"></i> Facebook</a>
                        </li>
                        <li>
                            <a data-turbo="true" href="https://www.youtube.com/c/sammu_education"><i class="fab fa-youtube footer-icons"></i> Youtube</a>
                        </li>
                        <li>
                            <a data-turbo="true" href="https://www.instagram.com/sammu_education"><i class="fab fa-instagram footer-icons"></i> Instagram</a>
                        </li>
                        <li>
                            <a data-turbo="true" href="https://twitter.com/sammu_education"><i class="fab fa-twitter footer-icons"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="footer-card">
                    <h2 class="footer-title">Bizning manzil</h2>
                    <ul class="footer-links">
                        <li>
                            <a data-turbo="true" href="https://yandex.uz/maps/-/CCUiqRVXoB">
                                <i class="fas fa-map-marker-alt footer-icons"></i>
                                Samarqand sh., Amir Temur k.,18-uy                            </a>
                        </li>
                        <li>
                            <a data-turbo="true" href="tel:+998 66 233 08 41"><i class="fa fa-phone footer-icons"></i> +998(66) 233 08 41</a>
                        </li>
                        <li>
                            <a data-turbo="true" href="tel:+998 66 233 71 75"><i class="fas fa-fax footer-icons"></i> +998 (66) 233 71 75</a>
                        </li>
                        <li>
                            <a data-turbo="true" href="mailto:sammu@sammu.uz"><i class="fa fa-envelope footer-icons"></i> sammu@sammu.uz</a>
                        </li>
                        <li>
                            <a data-turbo="true" href="mailto:samgmi@mail.ru"><i class="fa fa-envelope footer-icons"></i> samgmi@mail.ru</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mobile-hidden">
                <div>
                    <a href="https://yandex.ru/map-widget/v1/?z=17&ol=biz&oid=168327109761" target="_blank">
                        <img src="{% static 'img/img.png' %}" width="100%" height="300">
                    </a>

                </div>
            </div>
            <div class="col-12 footer-line"></div>
            <div class="col-lg-8 col-md-8 col-sm-12 text-copyright">
                <img class="footer-logo" src="{% static 'img/logo-128.png' %}" />
                <div>
                    Barcha huquqlar himoyalangan. Saytdagi barcha huquqlar O'zbekiston Respublikasi qonunlariga, shu jumladan mualliflik huquqi va turdosh huquqlarga muvofiq himoya qilinadi. Sayt materiallaridan foydalanganda, Samarqand davlat tibbiyot universiteti saytiga havola                    <a href="/pages/use_site_materials"> ko'rsatilishi shart</a><br />
                    Diqqat! Agar siz matnda xatoliklarni aniqlasangiz, ularni belgilab, ma`muriyatni xabardor qilish uchun Ctrl+Enter tugmalarini bosing                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="app-links">
                    <div class="app-link">
                        <a href="https://play.google.com/store/apps/details?id=uz.sammi.app&utm_source=sammi.uz&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                            <img class = "footer-play-store-image" alt='Google Play orqali oling' src="/static/img/play-market.svg"/>
                        </a>
                    </div>
                    <div class="app-link">
                        <a href="https://apps.apple.com/uz/app/samdtu-rasmiy-ilovasi/id1599322059"> <img class="footer-app-store-image" src="/static/img/app-store.svg" alt="Download on the App Store" /></a>
                    </div>
                </div>
                <div class="counters">
                    <!-- START WWW.UZ TOP-RATING -->
                    <div class="visitor-counter">
                        <a data-turbo="true" href="https://www.uz/ru/res/visitor/index?id=46395" target="_top">
                            <img src="{% static 'img/collect.png' %}" width="88" height="31" alt="Топ рейтинг www.uz" />
                        </a>
                    </div>
                    <div class="visitor-counter">
                        <!-- Yandex.Metrika informer -->
                        <a href="https://metrika.yandex.ru/stat/?id=55237306&amp;from=informer" target="_blank" rel="nofollow">
                            <img
                                    src="{% static 'img/img_21.png' %}"
                                    style="width: 88px; height: 31px; border: 0;"
                                    alt="Яндекс.Метрика"
                                    title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                                    class="ym-advanced-informer"
                                    data-cid="55237306"
                                    data-lang="ru"
                            />
                        </a>
                        <!-- /Yandex.Metrika informer -->

                        <!-- Yandex.Metrika counter -->
                        <script type="text/javascript">
                            (function (m, e, t, r, i, k, a) {
                                m[i] =
                                    m[i] ||
                                    function () {
                                        (m[i].a = m[i].a || []).push(arguments);
                                    };
                                m[i].l = 1 * new Date();
                                (k = e.createElement(t)), (a = e.getElementsByTagName(t)[0]), (k.async = 1), (k.src = r), a.parentNode.insertBefore(k, a);
                            })(window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

                            ym(55237306, "init", {
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true,
                            });
                        </script>

                        <noscript>
                            <div><img src="https://mc.yandex.ru/watch/55237306" style="position: absolute; left: -9999px;" alt="" /></div>
                        </noscript>
                        <!-- /Yandex.Metrika counter -->
                    </div>
                    <div class="visitor-counter">
                        <a href="https://www.liveinternet.ru/click" target="_blank">
                            <img
                                    id="licnt9841"
                                    width="88"
                                    height="31"
                                    style="border: 0;"
                                    title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                    alt=""
                            />
                        </a>
                        <script>
                            (function (d, s) {
                                d.getElementById("licnt9841").src =
                                    "https://counter.yadro.ru/hit?t16.6;r" +
                                    escape(d.referrer) +
                                    (typeof s == "undefined" ? "" : ";s" + s.width + "*" + s.height + "*" + (s.colorDepth ? s.colorDepth : s.pixelDepth)) +
                                    ";u" +
                                    escape(d.URL) +
                                    ";h" +
                                    escape(d.title.substring(0, 150)) +
                                    ";" +
                                    Math.random();
                            })(document, screen);
                        </script>
                    </div>
                    <div class="visitor-counter">
                        <a href="https://www.4icu.org/reviews/11937.htm" target="_parent"><img src="{% static 'img/unirank.org-70x35.png' %}" alt="uniRank.org" width="60" height="30" border="0"></a>
                    </div>
                    <!-- End Counters -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="footer-copyright pull-left">
                    &copy;
                    SamMU Education                    2023                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="footer-copyright pull-right">
                    <a href="/pages/use_site_materials" class="pull-right-a"> Sayt haqida</a>
                    <a href="/pages/privacy_policy" class="pull-right-a">Maxfiylik siyosati</a>
                    <a href="/pages/cookie" class="pull-right-a">Cookie</a>
                    <a href="/pages/contact_administration" class="pull-right-a">Qayta aloqa</a>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="up" class="hidden-mobile">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </a>
    <a class="back-to-top" title="Yuqoriga o'tish"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
</footer>



<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/yii.js' %}"></script>
<script src="{% static 'js/bootstrap-tabs-x.js' %}"></script>
<script src="{% static 'js/kv-widgets.js' %}"></script>


<script>jQuery(function ($) {
jQuery&&jQuery.pjax&&(jQuery.pjax.defaults.maxCacheLength=0);

jQuery("#w1-container").tabsX(tabsX_00000000);

});</script>
<script>
    $(document).keypress(function(e){
        if((e.ctrlKey == true) && (e.keyCode == 13 || e.keyCode == 10)){
            var text = window.getSelection().toString();
            var content_id = null;
            var lang = 'uz';
            var csrfParam = $('meta[name="csrf-param"]').attr("content");
            var csrfToken = $('meta[name="csrf-token"]').attr("content");
            var url = window.location.href;
            if(text != '') {
                $.ajax({
                    type: "POST",
                    url: "/uz/send-error",
                    data: {
                        "text": text,
                        "content_id": content_id,
                        "lang": lang,
                        "url": url,
                        "csrf-param": csrfParam,
                        "csrf-token": csrfToken
                    },
                    success: function(data) {
                        obj = $.parseJSON(data);
                        if (obj.ErrorMessage){
                            alert(obj.ErrorMessage);
                        }
                        else if(obj.Success)
                        {
                            alert(obj.SendMessage);
                        }
                    }
                });
            }
        }
    });
    function toggleFullScreen() {
        if ((document.fullScreenElement && document.fullScreenElement !== null) ||
            (!document.mozFullScreen && !document.webkitIsFullScreen)) {
            if (document.documentElement.requestFullScreen) {
                document.documentElement.requestFullScreen();
            } else if (document.documentElement.mozRequestFullScreen) {
                document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullScreen) {
                document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        }
    };
    let scrollToTop = document.getElementById("up");

    window.onscroll = function () {
        scroll();
    };

    function scroll() {
        if (
            document.body.scrollTop > 700 ||
            document.documentElement.scrollTop > 700
        ) {
            scrollToTop.style.display = "flex";
        } else {
            scrollToTop.style.display = "none";
        }
    };
</script>


</body>
</html>











