{% extends 'base.html' %}

{% block title %} Postlar {% endblock title %}

{% block content %}

<div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {% if object.photo %}
                        <img  class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
                    {% endif %}
                    <p class="card-text">{{ object.body | safe }}</p>
                    <a href="{% url 'article_list' %}">Yangiliklar</a>

                </div>
                <div class="card-body">
                    <a href="{% url 'jadval_list' %}">Dars jadvallari</a>
                </div>
                <div class="card-body">
                    <a href="{% url 'jadval' %}">Fakultetlar dars jadvali</a>
                </div>
            </div>

        </div>
<div class="card-header">
    {% for jadval in object_list %}
        <div class="card" style="...">
            <div class="card-header">
                <span class="font-weight-bold">
                    <a href="{% url 'jadval_detail' jadval.pk %}"><h2>{{ jadval.title }}</h2></a>
                </span>
            </div>
            {% if jadval.photo %}
                <img class="card-img-top" src="{{ jadval.photo.url }}"  alt="{{ jadval.title }}">
            {% endif %}
            <div class="card-body">

                {{ jadval.summary }} ... <a href="{% url 'jadval_detail' jadval.pk %}">batafsil</a>
            </div>
            <hr>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">Muallif:  {{ jadval.author | title}} | {{ jadval.date }}</span>
            </div>
  </div>


    {% endfor %}
</div>

{% endblock content %}